body{
text-align:center;
background:#111;
color:white;
font-family:sans-serif;
}

video{
border:2px solid white;
margin-top:10px;
}

#statusText{
color:red;
font-size:22px;
font-weight:bold;
}

button{
padding:10px 20px;
margin:5px;
}